body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #013C80 0%, #01152C 50%, #000000 100%);
  color: #E6EDF3;
}

h1 {
  color: white;
}

header {
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 24px;
  color: white;
}

header input {
  background-color: #1C1C1C;
  border: none;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  color: #E6EDF3;
}

.box-search {
  width: 100%;
  padding: 15px;
  border-radius: 12px;
  border-width: 1px;
}

.btn-search {
  background-color: #1F6FEB;
  border-radius: 0 12px 12px 0;
  border: none;
  width: 25%;
  height: 43px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-search:hover {
  background-color: #2D2D2D;
}

.btn-search:active {
  background: #007CFF;
  outline: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

main {
  padding: 80px 20px;
  text-align: center;
}

.user h2 {
  font-size: 28px;
}

.user h3 {
  font-size: 22px;
  margin-top: 10px;
  color: #58A6FF;
}

.favoritos {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.cards {
  padding: 20px;
  border-radius: 16px;
  width: 250px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: rgba(37, 69, 175, 0.6) 0px 0px 20px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
}

.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.5);
}

.cards h4 {
  font-size: 22px;
  color: #58A6FF;
  margin-bottom: 10px;
}

footer {
  margin-top: 189px;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #999;
}

.container-titulo {
  font-size: xx-small;
}

.container-titulo a {
  text-decoration: none;
  color: inherit;
}

.house {
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
  font-size: 28px;
  cursor: pointer;
}

#ddlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 12;
  width: 100%;
}

#searchInput {
  width: 100%;
}

.ddlItem {
  width: 100%;
  height: 30px;
  color: black;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
}

.ddlItem:hover {
  background-color: #f3f3f8;
}

.searchContainer {
  width: 60%;
  position: relative;
}

#returnBtn {
  margin-left: 5%;
}

.logout-container {
  margin-left: 1rem;
}

#btnLogout {
  background-color: transparent;
  border: 1px solid #58A6FF;
  color: #58A6FF;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: white;
}


#btnLogout:hover {
  background-color: #FF6A6A;
  color: white;
  border-color: #FF6A6A;
}

@media (max-width:600px) {
  .logoHeader {
    display: none;
  }

  .searchContainer {
    width: 80%;
  }
}
