body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 0, 0, 0.932);
    color: #c9d1d9;
}

header {
    background: linear-gradient(to right, #01152c9d, #00193062);
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: #ffffff;
    font-size: 25px;
}

.container-titulo {
    font-size:xx-small;
}

.container-titulo a {
    text-decoration: none;
    color: #ffffff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    flex-direction: column;
}

.stock-card {
    display: flex;
    flex-direction: column;
    background-color: #161b22;
    padding: 15px;
    border-radius: 12px;
    width: 70%;
    margin-top: 50px;
    box-shadow: 0 0 15px rgba(9, 62, 122, 0.568);
}

.stock-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: end;

}

.stock-info h2 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 10px;
}

.price {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
}

.change {
    font-size: 16px;
    margin: 5px 0;
}

.change.positive, .positive {
    color: #00c853;
}

.change.negative, .negative {
    color: #ff1744;
}
.attention{
    color: rgb(240, 240, 78);
}

.prev-price {
    font-size: 14px;
    color: #8b949e;
}

canvas {
    width: 100% !important;
    height: 250px !important;
}


.footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #01152c9d, #00193062);
    font-size: 14px;
    margin-top: 105px;
}

#tickerLogo{
    width: 50px;
    height: 50px;
}
#presentationContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.aboutTicker{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
#longNameTicker{
    font-size: 20pt;
}
.containerDiv{
    display: inline-flex;
    justify-content: space-between;
}
#returnBtn{
    margin-left: 5%;
}
#favHeart{
    cursor: pointer;
    transition: fill 0.25s ease;
}
#favHeart:hover{
        fill: #ffffff;
}